lib*/
notes/
sound/
testdata/
**/__pycache__
**/.project
**/.pydevproject
**/.classpath
**/.settings
**/.vscode
**/.mypy_cache
*.pyc
*.log
*.exe
*.stackdump
secrets.json
cryptowatcher.c
cryptowatcher
snapshot*
